@media (min-width: 481px) {
  .idResult h1 {
    margin-top: -8px;
    width: 49vw;
  }
}

@media (min-width: 801px) {
  header {
    margin-top: -120px;
    padding-top: 97px;
  }

  .sub-header {
    margin-top: -150px;
    padding-top: 97px;
  }

  .searchForm {
    display: none;
  }

  .search-menu {
    margin-bottom: 20px;
    display: flex;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 14px;
  }

  #searchForm {
    margin-left: 33px;
    margin-top: 52px;
  }

  #sub-searchForm {
    display: none;
  }

  .subscribe-container h1 {
    margin-top: 8vh;
  }

  .desktop-view-search {
    display: block;
    margin-left: 9vw;
    margin-bottom: 16px;
  }

  .group-header {
    padding-top: 54px;
    margin-top: -119px;
  }

  .page-logo {
    width: 53vw;
    margin-left: 18px;
  }

  .hamburger-bar {
    display: none;
  }

  .menu {
    display: flex;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 14px;
  }

  .sub-menu {
    display: flex;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 14px;
  }

  .second-nav {
    margin-left: -20px;
  }

  .third-nav {
    margin-left: 15px;
  }

  .fifth-nav {
    margin-left: -10px;
  }

  header li {
    text-align: center;
    padding-right: 9px;
    margin-left: -37px;
  }

  .group-h1 {
    margin-top: 70px;
  }

  .search-input {
    margin-top: 0vh;
    width: 40vw;
  }

  .search-results {
    padding-top: 10vh;
  }

  .search-button {
    width: 11vw;
    margin-right: -15px;
  }

  .main-image {
    height: 480px;
    margin-top: -208px;
  }

  .spec-container {
    margin-left: 20vw;
  }

  .idResult {
    padding-top: 10vh;
  }

  .specific-info {
    max-width: 41vw;
  }

  .specific-title {
    inline-size: 50vw;
  }

  .specific-instruction {
    margin-left: 0px;
    inline-size: 39vw;
    text-align: justify;
  }

  .subscribe-container {
    margin-top: 17vh;
    margin-bottom: 20vh;
  }

  .subscribe-form input {
    height: 30px;
    width: 40vw;
  }
}

@media (min-width: 1000px) {
  .group-h1 {
    margin-top: 94px;
  }

  .wide-menu {
    margin-bottom: 10px;
  }
}

@media (min-width: 1300px) {
  .wide-menu {
    margin-bottom: 19px;
  }

  .group-h1 {
    margin-top: 9vh;
  }

  .search-results {
    margin-top: 0vh;
  }

  .subscribe-container {
    padding-top: 2vh;
  }
}

