@media (min-width: 481px) {

  /* .ham-mode {
    margin-top: 21vw;
  } */

  /* ul {
    display: flex;
  }


  .menu {
    display: block;
  } */

  /* .upper-header {
    background-color: aquamarine;
  } */
}

@media (min-width: 801px) {
  .page-logo {
    width: 40vw;
  }

  .hamburger-bar {
    display: none;
  }
}