.search-input {
  height: 4vh;
  margin-top: 2vh;
  margin-left: 10px;
}

.search-results {
  padding-top: 19vh;
}

#searchForm {
  position: fixed;
  z-index: 100;
  margin-left: -5px;
}

.search-button {
  height: 4.5vh;
  margin-right: 25px;
}

.search-titles {
  margin-left: 9px;
  margin-top: 2px;
}