.search-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-top: -110px;
  margin-left: -9px;
  padding-top: 38px;
  padding-right: 3px;
  padding-bottom: 4px;
  background-color: green;
}

.search-menu {
  padding-bottom: 82px;
  background-color: red;
}

/* .search-header {
  margin-top: -89px;
  margin-left: 13px;
  padding-bottom: 20px;
} */

.search-input {
  height: 4vh;
  margin-top: 2vh;
  margin-left: 10px;
}

.search-results {
  padding-top: 19vh;
}

#searchForm {
  position: fixed;
  z-index: 100;
  margin-top: 102px;
  margin-bottom: -31px;
  padding-bottom: 20px;
}

.search-button {
  height: 4.5vh;
  margin-right: 25px;
}

.search-titles {
  margin-left: 9px;
  margin-top: 2px;
}