.search-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-top: -85px;
  padding-top: 26px;
  padding-bottom: 60px;
  background-color: var(--white-color);
}

/* .search-header {
  margin-top: -89px;
  margin-left: 13px;
  padding-bottom: 20px;
} */

.search-input {
  height: 4vh;
  margin-top: 24vh;
  margin-left: 10px;
}

.search-results {
  padding-top: 25vh;
}

#searchForm {
  position: fixed;
  z-index: 100;
  margin-bottom: 20px;
}

.search-button {
  height: 4.5vh;
  margin-right: 25px;
}

.search-titles {
  margin-left: 9px;
  margin-top: 2px;
}