body {
  font-family: 'Lora', 'Times New Roman', Times, serif;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
}

:root {
  --black-color: rgb(0, 0, 0);
  --dark-red-color: rgb(177, 0, 0);
  --light-grey-color: rgb(243, 243, 243);
  --grey-color: rgb(126, 126, 126);
  --white-color: rgb(255, 255, 255);
  --green-color: rgb(128, 159, 120, 1);
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-top: -110px;
  margin-left: -9px;
  padding-top: 38px;
  padding-right: 3px;
  padding-bottom: 4px;
  background-color: var(--white-color);
}

.upper-header {
  display: flex;
  margin-top: -10px;
  align-items: flex-end;
  width: 100vw;
  background-color: var(--white-color);
}

.page-logo {
  width: 65vw;
  margin-left: 10vw;
}

.hamburger-bar {
  margin-bottom: 3vw;
  margin-left: 3vw;
}

.fa-solid {
  cursor: pointer;
  border: none;
  margin-left: 3vw;
}

.desktop-view-search {
  display: none;
}

.ham-mode {
  margin-top: 19vh;
}

nav {
  background-color: var(--white-color);
}

.menu {
  padding-bottom: 12px;
  padding-left: 12vw;
  background-color: var(--white-color);
}

.searchForm {
  margin-left: -1vw;
}

ul {
  list-style-type: none;
  width: 100vw;
  margin: 2px 0px 30px -32px;
}

header li {
  width: 100vw;
  padding: 9px 6vw 0px 1vw;
}

.group-header {
  margin-top: -92px;
}

.group-h1 {
  margin-top: 23vh;
  margin-bottom: -23px;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

.active {
  font-weight: bold;
}

.subscribe {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
  padding-top: 5vh;
}

.main-image {
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 306px;
  position: relative;
}

.text-box-text {
  color: var(--black-color);
  text-transform: uppercase;
  font-size: 3.5vw;
  font-weight: bold;
  position: absolute;
  top: 68%;
  left: -21%;
  margin-left: 40vw;
  padding-right: 2vw;
  background-color: var(--white-color);
}

.box-title {
  font-size: 5vw;
}

.sweets-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sweet-result {
  width: 90vw;
  margin-left: 4vw;
  margin-bottom: 1rem;
  background: var(--white-color);
  border: 1px solid var(--grey-color);
}

.link {
  margin-left: 4vw;
}

.sweet-image {
  background-size: cover;
  width: 90vw;
  height: 300px;
}

.link-title {
  margin-left: 8px;
  margin-top: 2px;
  font-weight: bold;
}

.sweet-recipe-name {
  padding: 5px;
  font-size: 4vw;
}

h1 {
  margin-left: 1rem;
}

.italian-container h2 {
  margin-left: 3.5vw;
}

.italian-results {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 6vw;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
}

.result {
  margin-top: 20px;
  margin-left: -10px;
  margin-right: 19px;
  margin-bottom: 20px;
  max-width: 170px;
  background: var(--white-color);
  border: 1px solid var(--grey-color);
}

.image {
  background-size: cover;
  width: 170px;
  height: 150px;
}

.recipe-name {
  padding: 5px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.group-results {
  display: flex;
  flex-wrap: wrap;
}

.group-result {
  margin: 1rem;
  padding: 1rem;
  max-width: 400px;
  background: var(--white-color);
  border: 1px solid var(--grey-color);
  border-radius: 1rem;
}

.footer-container {
  display: flex;
  background-color: var(--grey-color);
  height: 6vh;
  padding-left: 10px;
}

.footer-sub {
  margin-left: 20px;
}

.error {
  border: 1px solid var(--dark-red-color);
  padding: 1rem;
  color: var(--dark-red-color);
  background: var(--light-grey-color);
}

.loader {
  border: 14px solid var(--light-grey-color);
  border-top: 14px solid var(--green-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

