.sub-header {
  padding-top: 56px;
  margin-top: -378px;
}

.sub-menu {
  padding-bottom: 30px;
  padding-left: 51px;
  background-color: var(--white-color);
}

#sub-searchForm {
  margin-left: -5px;
}

.subscribe-container {
  margin-top: 41vh;
  padding-top: 30px;
  margin-bottom: 40px;
}

.subscribe-container h1, p {
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 5vh;
}

.subscribe-form {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  background: rgb(128, 159, 120, 1);
  border-radius: 1rem;
}

input {
  border: 1px solid gray;
  border-radius: 7px;
  padding: 5px;
}

label {
  display: block;
  margin: 20px 0px 0px 0px;
  font-size: 20px;
  padding-bottom: 5px;
}

.form-error {
  display: none;
  color: red;
  font-size: 12px;
}

/* .send-button {
  padding: 20px;
  width: 15vw;
  margin: -21px 163px 20px;
  font-size: 20px;
  font-weight: bold;
  border: 1.5px solid gray;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
} */

.send-button {
  padding: 20px;
  max-width: 100px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  border: 1.5px solid gray;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
